/*********
* 全局css
**********/

/* 网站使用的字体，IE下不能使用 */
@font-face{
	font-family: 'pan';
	src: url(../fonts/webfont.otf);
}

/****************************************
* 清理css默认样式
*****************************************/
/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, /* structural elements 结构元素 */
ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, button, input, textarea, /* form elements 表单元素 */
th, td, /* table elements 表格元素 */
img/* img elements 图片元素 */{
  border: none;
  margin: 0;
  padding: 0;
}
/** 设置默认字体 **/
body, input, button, select, textarea {
  font: 16px pan, Arial, Helvetica, sans-serif;
  font-weight:normal;
}
h1, h2, h3, h4, h5, h6{ font-weight:normal; }
em{ font-style:normal; }
/** 重置列表元素 **/
ul{ list-style: none; }
/** 重置超链接元素 **/
a { text-decoration: none; }
a:hover { text-decoration: underline; }
/** 重置表格元素 **/
table { border-collapse: collapse; border-spacing: 0; }
/*清除浮动*/
.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
.hidden{
	display:none;
}

/*****************************
* 页面css
******************************/
/* 页面最小宽度为1200px，且有背景 */
body{
	min-width:1200px;
	background-image:url(../img/bg.png);
}
/* 按钮样式 */
.button{
	color:#fff;
	background-color:#414141;
	padding:5px;
	font-size:80%;
	border:none;
	border-radius:10px;
}
.button:hover{
	text-decoration:none;
}

/* 页面内容区 */
.content{
	width:1000px;
	margin:20px auto;
	padding:20px;
	clear:both;
}

/* 背景为白色，上下为虚线边框，左右无边框的标题 */
.title_bg{
	background-color:#fff;
	border-top:1px dashed #333;
	border-bottom:1px dashed #333;
	margin-bottom:15px;
	padding:10px 0;
	color:#333;
}
.title_bg>span{
	font-size:80%;
	color:#999;
	margin-left:10px;
}
.title_center{
	text-align:center;
	color:#666;
}

/* 社团活动和社团列表的面包屑导航 */
.page_nav{
	margin-top:-15px;
	margin-bottom:30px;
	width:500px;
}
.page_nav>h3{
	padding-bottom:5px;
	border-bottom:1px dashed #333;
}
.page_nav>h3>span{
	font-size:80%;
	margin-left:15px;
	color:#999;
}
.page_nav>h3>span>a{
	/* 返回上一页链接的样式 */
	color:#ff4800;
}

/* 分页标签 */
.page>li{
	float:left;
	text-align:center;
	border-top:1px solid #aaa;
	border-bottom:1px solid #aaa;
	border-left:1px solid #aaa;
	width:35px;
	height:35px;
	line-height:35px;
	background-color:#fff;
}
.page>li:last-child{
	border-right:1px solid #aaa;
}
.page>li>a{
	color:#ff4800;
	padding:8px 12px;
}
.page>li>a:hover{
	background-color:rgb(235,235,235);
	text-decoration:none;
}

/* 社团列表详情页和社团活动列表页的搜索栏 */
.search{
	margin-bottom:20px;
}
.search>input{
	width:264px;
	height:24px;
	line-height:25px;
	color:#ccc;
}
.search>a>img{
	float:right;
	height:24px;
	width:32px;
}

/* 社团活动列表页，社团详情页，关于我们三个页面中左右分页 */
.content_left{
	float:left;
	width:670px;
}
.content_right{
	margin-left:700px;
	width:300px;
}

/* 社团活动列表页，社团详情页，关于我们三个页面中右边标题以及内容 */
.page_right_content>h3{
	color:#ff4800;
	padding-bottom:5px;
	border-bottom:1px dashed #333;
}
.page_right_content>h3>span{
	margin-left:10px;
	font-size:80%;
}
.page_right_content>p{
	font-size:90%;
	margin:15px 0;
}
.page_right_content>p>a{
	color:#ff4800;
}



/*******************************
* index.jsp
********************************/
/* 热点图展示区 */
.index_show{
	width:1000px;
	text-align:center;
}
.index_show_img{
	float:left;
	width:680px;
	height:340px;
	background-color:#fff;
}
.index_show_popularity{
	/* 两个元素值之和为995px */
	margin-left:700px;
	width:295px;
}
.index_show_popularity>ol{
	margin-top:10px;
	margin-left:75px;
	text-align:left;
}
.index_show_popularity>ol>li{
	height:20px;
	margin:8px auto;
	font-size:90%;
}
.index_show_popularity>ol>li>a{
	color:#ff4800;
}

/* 社团活动 */
.index_active{
	margin:40px auto;
}
.index_active>h3{
	padding-left:15px;
}
.index_active>h3>a{
	float:right;
	font-size:90%;
	color:#ff4800;
	margin-right:15px;
}
.index_active_list{
	text-align:left;
	margin-bottom:15px;
}
.index_active_list>div{
	display:inline-block;
	margin:10px 12px;
	border-bottom:1px dashed #333;
	background-color:#fff;
}
.index_active_list>div>a>img{
	background-color:#ccc;
	/* 此处加载的图片大小应该限制为220px*180px */
	width:222px !important;
	height:180px !important;
}
.index_active_list>div>p{
	width:210px;
	height:32px;
	overflow:hidden;
	margin:3px 5px;
	font-size:80%;
	text-align:left;
}

.index_active_list>div>p:last-child{
	height:14px;
	font-size:70%;
	color:#999;
}

/* 特别推荐 */
.index_special,
.index_links{
	float:left;
	width:480px;
}
.index_special>h3,
.index_links>h3{
	padding-left:15px;
}
.index_links{
	margin-left:35px;
}
.index_special>img{
	width:260px;
	height:160px;
	float:left;
	background-color:#ccc;
}
.index_special>div{
	margin-left:280px;
}
.index_special>div>h4{
	margin-bottom:15px;
	padding-top:10px;
}
.index_special>div>p{
	font-size:80%;
	line-height:1.8;
}
.index_links>div>p{
	padding-left:20px;
	font-size:90%;
	line-height:2;
}
.index_links a{
	color:#ff4800;
}



/*****************************
* active.jsp
******************************/
/* active-left */
.active_active{
	height:270px;
}
.active_active>img{
	float:left;
	width:180px;
	height:240px;
	background-color:#ccc;
}
.active_active>div{
	margin-left:185px;
}
.active_active>div>h3,
.active_active>div>p{
	padding-left:15px;
}
.active_active_content{
	height:132px;
	max-height:132px;
	padding-left:15px;
	overflow:hidden;
}
.active_active>div>p{
	margin-top:4px;
}
.active_active>div>p:last-child{
	margin-top:9px;
	font-size:80%;
	color:#ff4800;
}
/*.active_active>div>p>a:last-child{
	margin-left:190px;
}*/
.active_active>div>p:last-child span{
	position:relative;
	top:-5px;
	margin-left:5px;
	margin-right:15px;
}



/*****************
* list.jsp
******************/
.club_list{
	margin-bottom:20px;
}
.club_list>div{
	display:inline-block;
	width:180px;
	height:220px;
	margin-right:15px;
	background-color:#fff;
}
.club_list>div>a>img{
	width:180px;
	height:180px;
	background-color:#ccc;
}
.club_list>div>p{
	font-size:80%;
	color:#ff4800;
	text-align:center;
	height:40px;
	line-height:40px;
}


/************************
* tools.jsp
************************/
.tools_content{
	width:1000px;
	height:500px;
	margin:40px 0;
	
	/* 为之后的图形定位提供基准 */
	position:relative;
	top:0;
	left:0;
	z-index:1;
}
.tools_content>img{
	z-index:4;
}
#tools2_png{
	position:absolute;
	top:0;
	left:807px;
}
.tools_content>div{
	padding:19px 20px;
	width:573px;
	color:#333;
	
	position:absolute;
	left:194px;
}
.tools_content>div>h2{
	margin-bottom:10px;
}

/* 边框 */
#tools_content_1,
#tools_content_3,
#tools_content_5{
	border-top:1px dashed #666;
	border-bottom:1px dashed #666;
	z-index:3;
}
/* 背景色 */
#tools_content_2,
#tools_content_4{
	background-color:#fff;
	text-align:right;
	z-index:2;
}

/* 定位与细节调整 */
#tools_content_1{
	top:0;
}
#tools_content_2{
	top:97px;
}
#tools_content_3{
	top:193px;
	
	padding-bottom:20px;
}
#tools_content_4{
	top:290px;
}
#tools_content_5{
	top:386px;
	
	padding-top:56px;
}
#tools_content_5>p{
	text-align:center;
}
#tools_content_5>p>a{
	color:#ff4800;
}



/*****************************
* about.jsp
******************************/
/* about-left */
.about_left>h3{
	text-align:center;
	color:#666;
}
.about_left>p{
	line-height:2.2;
	color:#777;
	letter-spacing:2px;
}
.span_1{
	font-size:200%;
}
.span_2{
	font-size:150%;
}
.span_3{
	font-size:125%;
}

/* about-right */
.about_thanks{
	/* 使其与左边底部对齐 */
	padding-top:15px;
}


/**************************
* activeDetail.jsp
***************************/
.activeDetail_img{
	width:480px;
	height:550px;
	padding:8px;
	background-color:#fff;
	border:1px solid #aaa;
	float:left;
}
.activeDetail_img>img{
	width:480px;
	height:550px;
	background-color:#ccc;
}

.activeDetail_content,
.activeDetail_info{
	margin-left:530px;
	color:#333;
}
.activeDetail_content>h2{
	text-align:center;
	margin-bottom:10px;
}
.activeDetail_content>p{
	font-size:90%;
	line-height:1.5;
}
.activeDetail_info{
	margin-top:20px;
}
.activeDetail_info>p{
	margin:15px 0;
	padding-bottom:7px;
	font-size:80%;
	border-bottom:1px dashed #333;
}
.activeDetail_info input:last-child{
	float:right;
	margin-right:20px;
	cursor:pointer;
	
	position:relative;
	top:-5px;
}


/***********************************
* listDetail.jsp
************************************/
/* listDetail-left */
.listDetail_content>h2{
	text-align:center;
	color:#333;
	margin-top:-10px;
	margin-bottom:20px;
}
.listDetail_content>p{
	font-size:90%;
	line-height:1.5;
	
	/* 为了让底部版权栏到页面最底部所以设置最短的内容长度 */
	min-height:250px;
}
.listDetail_info{
	margin-top:50px;
}
.listDetail_info>p{
	color:#ff4800;
	font-size:80%;
	margin-top:10px;
	padding-left:5px;
}


/********************************
* login.jsp & register.jsp
*********************************/
.lr_explain{
	/* 使其与左边底部对齐 */
	padding-top:15px;
}
/* 两个页面的表单样式 */
.form-horizontal{
	margin:20px auto;
	text-align:center;
}
.form-tip{
	border:1px solid #d9534f;
	border-radius:5px;
	background:#d9534f;
	padding:10px 0;
	color:#fff;
	
	display:none;
}
.form-group{
	margin:10px auto;
}
.form-group>label{
	display:inline-block;
	width:80px;
	text-align:right;
}
.form-group>div{
	display:inline-block;
	text-align:left;
}
.form-group>div>input{
	width:220px;
	padding:6px 12px;
	background-color:#fff;
	
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
		 -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-group>div>input:focus{
	 border-color: #ff4800;
	 outline: 0;
	 -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 72, 0, .6);
	 		 box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 72, 0, .6);
}
.form-group>input{
	border:1px solid #ccc;
	border-radius:4px;
	background-color:#fff;
	padding:6px 12px;
}
.form-group>input:hover{
	background-color:#eee;
	cursor:pointer;
}






