<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="sf">
  <property name="hibernate.connection.driver_class">com.microsoft.jdbc.sqlserver.SQLServerDriver</property>
  <property name="hibernate.connection.password">xiayu1010</property>
  <property name="hibernate.connection.url">jdbc:sqlserver://121.42.45.254:1433;databaseName=Club;</property>
  <property name="hibernate.connection.username">sa</property>
  <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
  <property name="hibernate.c3p0.acquire_increment">2</property>
  <property name="hibernate.c3p0.max_size">200</property>
  <property name="hibernate.c3p0.max_statements">50</property>
  <property name="hibernate.c3p0.min_size">2</property>
  <property name="hibernate.c3p0.timeout">5000</property>
  <property name="hibernate.c3p0.idle_test_period">3000</property>
  <property name="hibernate.show_sql">true</property>
 </session-factory>
</hibernate-configuration>
